<!DOCTYPE html>
<html>
    <head>
        <title>填表輸入頁面</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>填表輸入頁面</div>
        <form action="addMemberJPA.do">
            輸入EMAIL:<input type="text" name="email" /> <br>
            輸入Password:<input type="text" name="password" />  <br>
            輸入Address:<input type="text" name="address" />  <br>
            輸入Cellphone:<input type="text" name="cellphone" />  <br>
            
             
 
            <input type="submit" value="確定送出" />
        </form>
    </body>
</html>